footer {
    box-shadow: 0px -9px 7px -10px rgba(116, 116, 116, 0.81);
}
.links-footer a {
    color: #000;
    text-decoration: none;
}
.links-footer a:hover {
    color: #203a43ee;
}
.img-conteiner>img {
    width: 50px;
    height: 40px;
    object-fit: contain;
}
@media screen and (min-width:576px) {
    .footer-content {
        justify-content: space-evenly;
    }
}