@font-face {
    font-family: Lisu;
    src: url("./fonts/LisuBosa-Regular.ttf");
}

@font-face {
    font-family: Abril;
    src: url("./fonts/AbrilFatface-Regular.ttf");
}

body {
    font-family: Lisu;
    font-display: swap;
}

.btn-style {
    background-color: #0f2027e5;
    box-shadow: inset 0px -5px 27px -1px #71babd;
    color: #fff;
    border-style: none;
    padding: 5px 12px 8px 12px;
}

.btn-style:hover {
    box-shadow: inset 0px -5px 27px -1px #0f2027;
    transition: 0.53s;

}

.navbar-separation {
    padding-top: 120px;
}

@media screen and (min-width: 992px) {
    .navbar-separation {
        padding-top: 135px;
    }
}